@model lab.ViewModel.CoursesViewMode
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .date {
        text-align: center;
        background-color: #d41d50;
        color: white;
        width: 60px;
        border-radius: 8px;
    }
</style>

<h2>Home</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Course")
</p>
<link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />

<table class="table">
    <tr>
        <th>
            Thời gian
        </th>
        <th>
          Email
        </th>
         <th>
            Tên
        </th>
        <th>
            Danh mục
        </th>
        <th>
            Địa Điểm
        </th>
        <th>
            Going
        </th>
        <th>
            Following
        </th>

    </tr>

    @foreach (var item in Model.UpcommingCourses)
    {
<tr>
    <td>
        <div class="date" style="background-color : #1d908e !important">
            <div class="month">@item.DateTime.ToString("MM")</div>
            <div class="day">@item.DateTime.ToString("dd") </div>
        </div>
    </td>
    <td>
        @item.Lecture.Email
    </td>
    <td>
        @item.Lecture.name
    </td>
    <td>
        @item.Category.Name
    </td>
    <td>
        @item.Place
    </td>

    <td>
        @if (item.LectureId == User.Identity.GetUserId() || !Model.ShowAction)
        {
            <button data-course-id="@item.Id" class="btn btn-danger btn-sm js-toggle-attendance" disabled> Going?</button>
        }
        else if (Model.GetAttendances != null && Model.GetAttendances.Any(p => p.CourseId == item.Id && p.AttendeeId == User.Identity.GetUserId()) == true)
        {
            <button data-course-id="@item.Id" class="btn btn-info btn-sm js-attendance"> UnGoing</button>
        }

        else
        {
            <button data-course-id="@item.Id" class="btn btn-default btn-sm js-toggle-attendance"> Going?</button>
        }

    </td>
    <td>
        @if (item.LectureId == User.Identity.GetUserId() || !Model.ShowAction)
        {
            <button data-user-id="@item.LectureId" class="btn btn-danger btn-sm js-toggle-follow" disabled> Follow</button>
        }
        else if (Model.GetFollowings != null && Model.GetFollowings.Any(p => p.Follower.Id == item.LectureId && p.FolloweeId == User.Identity.GetUserId()) == true)
        {
            <button data-user-id="@item.LectureId" class="btn btn-danger btn-sm js-follow"> UnFollow</button>
        }
        else
        {
            <button data-user-id="@item.LectureId" class="btn btn-default btn-sm js-toggle-follow"> Follow</button>
        }


    </td>

</tr>
    }

</table>
@section scripts{
    <script src="~/Scripts/jquery.confirm.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $('.js-toggle-attendance').click((e) => {
                var button = $(e.target);
                var base_url = location.protocol + "//" + document.domain + ":" + location.port;
                $.post('/api/Attendance', { courseId: button.attr("data-course-id") })
                    .done(() => {
                        button
                            .removeClass('btn-default')
                            .addClass('btn-info btn-sm')
                            .text("UnGoing");
                        location.reload();
                    })
                    .fail(() => {
                        alert("something false");
                    })
            })
            $('.js-attendance').click((e) => {
                var button = $(e.target);
                
                $.confirm({
                    title: 'Xác nhận',
                    content: 'Bỏ theo dõi',
                    buttons: {
                        OK: function () {
                            $.ajax({
                                url: "/api/AttendanceGoing/" + button.attr("data-course-id"),
                                method: "DELETE",
                               
                            }).done(() => {
                                button
                                    .removeClass('btn-info')
                                    .addClass('btn-default')
                                    .text("Going?");
                                location.reload();
                            }).fail(() => {
                                alert('Something fail')
                            })

                        },
                        Hủy: function () {
                            return
                        }
                    }
                });
            })
            $('.js-toggle-follow').click((e) => {
                var button = $(e.target);
                $.post('/api/Followings', { FolloweeId: button.attr("data-user-id") })
                    .done(() => {
                        button
                            .removeClass('btn-default')
                            .addClass('btn-danger')
                            .text("UnFollow");
                        location.reload();
                    })
                    .fail(() => {
                        alert("something false");
                    })
            })
            $('.js-follow').click((e) => {
                var button = $(e.target);
                $.confirm({
                    title: 'Xác nhận',
                    content: 'Bỏ theo dõi',
                    buttons: {
                        OK: function () {
                            $.ajax({
                                url: "/api/Following/" + button.attr("data-user-id"),
                                method: "DELETE",

                            }).done(() => {
                                button
                                    .removeClass('btn-danger')
                                    .addClass('btn-default')
                                    .text("Follow");
                                location.reload();
                            }).fail(() => {
                                alert('Something fail')
                            })

                        },
                        Hủy: function () {
                            return
                        }
                    }
                });

            })
        })
    </script>
}



